<div class="max-w-site mx-auto">
  {{#foreach posts to="1"}}
    {{> cards/post-card-fullwidth 
      image_loading="eager"
    }}
  {{/foreach}}
</div>
{{#get "posts" limit="1"}}
  {{#if posts}}
    <section class="section-1-post">
      {{#foreach posts}}
        {{> "cards/post-card-fullwidth"}}
      {{/foreach}}
    </section>
  {{/if}}
{{/get}}
