

{{!-- Get featured posts excluding 'live' tagged posts --}}
{{#get "posts" filter="featured:true+tag:-live" limit="6" as |filtered_posts|}}
  {{#if filtered_posts}}
    <div class="max-w-site mx-auto flex flex-col gap-5 lg:flex-row">
      {{!-- Main featured post (first post) --}}
      {{#foreach filtered_posts to="1"}}
        {{> cards/post-card-vertical-main 
          card_class="flex-2 pb-5 border-b border-brd-soft lg:pb-0 lg:border-b-0 lg:pr-5 lg:border-r"
          image_loading="eager"
        }}
      {{/foreach}}
      
      <div class="flex-1 flex flex-col gap-8 md:grid md:grid-cols-2 lg:flex lg:flex-col lg:gap-6">  
        {{!-- Secondary posts (positions 2-6) --}}
        {{#foreach filtered_posts from="2" to="6"}}
          {{> cards/post-card-horizontal-sm
            card_class="not-last-of-type:border-b border-brd-soft not-last-of-type:pb-6"
            image_loading="eager"
          }}
        {{/foreach}}
      </div>
    </div>
  {{else}}
    {{!-- Fallback: show regular featured posts if no non-live featured posts available --}}
    <div class="max-w-site mx-auto flex flex-col gap-5 lg:flex-row">
      {{#foreach posts to="1"}}
        {{> cards/post-card-vertical-main 
          card_class="flex-2 pb-5 border-b border-brd-soft lg:pb-0 lg:border-b-0 lg:pr-5 lg:border-r"
          image_loading="eager"
        }}
      {{/foreach}}
      
      <div class="flex-1 flex flex-col gap-8 md:grid md:grid-cols-2 lg:flex lg:flex-col lg:gap-6">  
        {{#foreach posts from="2" to="6"}}
          {{> cards/post-card-horizontal-sm
            card_class="not-last-of-type:border-b border-brd-soft not-last-of-type:pb-6"
            image_loading="eager"
          }}
        {{/foreach}}
      </div>
    </div>
  {{/if}}
{{/get}}

