
{{!-- Use Ghost's get helper for better performance when filtering --}}
{{#get "posts" filter="featured:true+tag:-live" limit="6" include="tags,authors" as |featured_posts|}}
  {{#if featured_posts}}
    <div class="max-w-site mx-auto flex flex-col gap-5 lg:flex-row">
      {{#foreach featured_posts limit="1"}}
        {{> cards/post-card-vertical-main 
          card_class="flex-2 pb-5 border-b border-brd-soft lg:pb-0 lg:border-b-0 lg:pr-5 lg:border-r"
          image_loading="eager"
        }}
      {{/foreach}}
      
      <div class="flex-1 flex flex-col gap-8 md:grid md:grid-cols-2 lg:flex lg:flex-col lg:gap-6">  
        {{!-- Use remaining featured posts for secondary positions --}}
        {{#foreach featured_posts from="2" limit="5"}}
          {{> cards/post-card-horizontal-sm
            card_class="not-last-of-type:border-b border-brd-soft not-last-of-type:pb-6"
            image_loading="eager"
          }}
        {{/foreach}}
      </div>
    </div>
  {{else}}
    {{!-- Fallback: show regular posts if no featured posts without 'live' tag --}}
    {{#get "posts" filter="tag:-live" limit="6" include="tags,authors" as |regular_posts|}}
      {{#if regular_posts}}
        <div class="max-w-site mx-auto flex flex-col gap-5 lg:flex-row">
          {{#foreach regular_posts limit="1"}}
            {{> cards/post-card-vertical-main 
              card_class="flex-2 pb-5 border-b border-brd-soft lg:pb-0 lg:border-b-0 lg:pr-5 lg:border-r"
              image_loading="eager"
            }}
          {{/foreach}}
          
          <div class="flex-1 flex flex-col gap-8 md:grid md:grid-cols-2 lg:flex lg:flex-col lg:gap-6">  
            {{#foreach regular_posts from="2" limit="5"}}
              {{> cards/post-card-horizontal-sm
                card_class="not-last-of-type:border-b border-brd-soft not-last-of-type:pb-6"
                image_loading="eager"
              }}
            {{/foreach}}
          </div>
        </div>
      {{/if}}
    {{/get}}
  {{/if}}
{{/get}}
